/* CSS GENERAL */
.vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%; }

.flex {
  display: flex; }

.flex-space-between {
  justify-content: space-between;
  flex-wrap: wrap; }

#container_filter_form {
  overflow-x: hidden;
  max-width: 100%;
  padding-bottom: 75px; }

/* CSS APP */
.App {
  width: 100%;
  min-height: 100vh; }
  .App .banner {
    width: 100%;
    height: 350px;
    background: #ccc; }
    .App .banner .container_video {
      position: relative;
      background-color: black;
      height: 350px;
      min-height: 25rem;
      width: 100%;
      overflow: hidden;
      filter: blur(8px); }
    .App .banner #bgvid {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
    .App .banner .pos {
      position: absolute;
      top: 0;
      width: 100%; }
  .App h1 {
    font-family: Pacifico;
    font-size: 75px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    color: white;
    padding-top: 25px; }
  .App .containerCarousel {
    padding: 10px;
    box-shadow: -27.1px 62.5px 125px -100px rgba(50, 50, 93, 0.5), -16.2px 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    max-width: 800px;
    margin: 0 auto;
    height: 180px;
    background-color: white;
    position: relative;
    top: 105px; }
    .App .containerCarousel .container_item {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: -55px 0 20px 0; }
      .App .containerCarousel .container_item div {
        padding: 5px 16px;
        cursor: pointer;
        font-weight: 700;
        margin: 5px;
        color: black;
        background-color: #e6e6e6;
        border-radius: 10px; }
      .App .containerCarousel .container_item .item_focus {
        background-color: #cff5b3;
        border-radius: 10px;
        color: black; }
        .App .containerCarousel .container_item .item_focus:hover {
          background-color: #cff5b3; }
    .App .containerCarousel .carousel_wrapper {
      margin: 0 auto;
      overflow: hidden;
      width: 800px;
      background-color: white; }
      .App .containerCarousel .carousel_wrapper .ul_carousel {
        padding: 0;
        margin: 0;
        width: 3200px;
        display: flex;
        list-style: none;
        transition: transform 1s; }
        .App .containerCarousel .carousel_wrapper .ul_carousel li {
          opacity: 1;
          width: 800px;
          height: 155px;
          padding: 10px 15px; }
          .App .containerCarousel .carousel_wrapper .ul_carousel li p {
            font-family: Pacifico;
            font-size: 18px;
            margin: 0;
            text-align: center; }
        .App .containerCarousel .carousel_wrapper .ul_carousel .li_price .slider_budget {
          max-width: 480px;
          margin: 20px auto; }
        .App .containerCarousel .carousel_wrapper .ul_carousel .li_temp .slider_temp {
          max-width: 480px;
          margin: 20px auto 0 auto;
          display: flex; }
          .App .containerCarousel .carousel_wrapper .ul_carousel .li_temp .slider_temp img {
            margin: 0 10px;
            width: 35px;
            height: 35px; }
          .App .containerCarousel .carousel_wrapper .ul_carousel .li_temp .slider_temp .rc-slider {
            margin-top: 10px; }
        .App .containerCarousel .carousel_wrapper .ul_carousel .li_place {
          text-align: center; }
          .App .containerCarousel .carousel_wrapper .ul_carousel .li_place select {
            margin: 25px;
            border: 1px solid #ccc;
            border-radius: 12px;
            padding: 5px 12px; }
            .App .containerCarousel .carousel_wrapper .ul_carousel .li_place select:focus {
              outline: none; }
        .App .containerCarousel .carousel_wrapper .ul_carousel .li_type .container {
          display: flex;
          justify-content: space-around;
          max-width: 480px;
          margin: 20px auto; }
          .App .containerCarousel .carousel_wrapper .ul_carousel .li_type .container .img_type {
            width: 45px;
            height: 45px;
            border-radius: 2rem;
            border: 1px solid #ccc;
            cursor: pointer; }
          .App .containerCarousel .carousel_wrapper .ul_carousel .li_type .container .img_focus {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            transform: scale(1.3); }

body {
  transition: all 0.15s;
  outline: none;
  background: #efefef; }

.btn_find {
  font-size: 19px;
  font-family: "Pacifico";
  overflow: visible;
  border-radius: 3px;
  position: relative;
  padding-right: 30px;
  background-color: #ecfbff;
  border: 2px solid #a6e0ee;
  color: #2d7586;
  display: block;
  margin: 65px auto 0 auto;
  height: 60px;
  width: 200px;
  cursor: pointer; }
  .btn_find:focus {
    outline: none; }
  .btn_find:hover {
    background-color: #ddf7ff; }
    .btn_find:hover svg {
      transform: rotate(10deg);
      transition: transform 0.15s; }
  .btn_find svg {
    position: absolute;
    top: 13px;
    right: 25px;
    height: 30px;
    width: auto;
    transition: transform 0.15s; }
    .btn_find svg path {
      fill: #2d7586; }
  .btn_find p {
    margin: 0; }
  .btn_find.clicked {
    background-color: #cff5b3;
    border: 2px solid #cff5b3;
    color: #6aaa3b;
    padding-right: 6px;
    animation: bounce-in 0.3s;
    cursor: default; }
    .btn_find.clicked svg {
      animation: flyaway 1.3s linear;
      top: -80px;
      right: -1000px; }
      .btn_find.clicked svg path {
        fill: #6aaa3b; }

@keyframes flyaway {
  0% {
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px; }
  5% {
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px; }
  20% {
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px; }
  40% {
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1; }
  100% {
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
    display: none; } }

@keyframes bounce-in {
  0% {
    padding-right: 30px; }
  40% {
    padding-right: 6px; }
  50% {
    padding-left: 30px; }
  100% {
    padding-left: 6px; } }

/* RESPONSIVE */
@media (max-width: 850px) {
  .App .containerCarousel {
    margin: 0 25px; }
    .App .containerCarousel .carousel_wrapper {
      width: 500px; }
      .App .containerCarousel .carousel_wrapper .ul_carousel {
        width: 2000px; }
        .App .containerCarousel .carousel_wrapper .ul_carousel li {
          width: 500px; }
        .App .containerCarousel .carousel_wrapper .ul_carousel .li_place select {
          margin: 10px; } }

@media (max-width: 590px) {
  .App h1 {
    font-size: 50px; }
  .App .containerCarousel .container_item div {
    font-size: 14px;
    padding: 2px 16px; }
  .App .containerCarousel .carousel_wrapper {
    width: 360px; }
    .App .containerCarousel .carousel_wrapper .ul_carousel {
      width: 1440px; }
      .App .containerCarousel .carousel_wrapper .ul_carousel li {
        width: 360px;
        padding: 0 15px; } }

@media (max-width: 485px) {
  .App .containerCarousel {
    margin: 0;
    border-radius: 0; } }

@media (max-width: 435px) {
  .App .containerCarousel .container_item {
    margin: -85px 0 20px 0; } }

@media (max-width: 375px) {
  .App .containerCarousel .carousel_wrapper {
    width: 300px; }
    .App .containerCarousel .carousel_wrapper .ul_carousel {
      width: 1200px; }
      .App .containerCarousel .carousel_wrapper .ul_carousel li {
        width: 300px;
        padding: 0 15px; } }

/* FONT */
@font-face {
  font-family: "Calli";
  src: url("../font/Moonbright Demo.ttf") format("truetype"); }
