/* CSS GENERAL */
.vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%; }

/* CSS APP */
.App {
  width: 100%;
  min-height: 100vh; }
  .App .banner {
    width: 100%;
    height: 350px;
    background: #ccc; }
    .App .banner .container_video {
      position: relative;
      background-color: black;
      height: 350px;
      min-height: 25rem;
      width: 100%;
      overflow: hidden;
      filter: blur(8px); }
    .App .banner #bgvid {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
    .App .banner .pos {
      position: absolute;
      top: 0;
      width: 100%; }
  .App h1 {
    font-family: Pacifico;
    font-size: 75px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    color: white;
    padding-top: 55px; }
  .App .containerCarousel {
    padding: 10px;
    box-shadow: -27.1px 62.5px 125px -100px rgba(50, 50, 93, 0.5), -16.2px 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    height: 180px;
    background-color: white;
    position: relative;
    top: 105px; }
    .App .containerCarousel .container_item {
      display: flex;
      justify-content: center; }
      .App .containerCarousel .container_item div {
        padding: 5px 16px;
        cursor: pointer; }
    .App .containerCarousel .carousel_wrapper {
      margin: 0 auto;
      overflow: hidden;
      width: 800px;
      background-color: white; }
      .App .containerCarousel .carousel_wrapper .ul_carousel {
        padding: 0;
        margin: 0;
        width: 3200px;
        display: flex;
        list-style: none;
        transition: transform 1s; }
        .App .containerCarousel .carousel_wrapper .ul_carousel li {
          opacity: 0;
          width: 800px;
          height: 300px;
          padding: 10px 15px; }
        .App .containerCarousel .carousel_wrapper .ul_carousel .active {
          opacity: 1 !important; }

body {
  transition: all 0.15s;
  outline: none;
  overflow-x: hidden; }

.btn_find {
  font-size: 19px;
  font-family: "Pacifico";
  overflow: visible;
  border-radius: 3px;
  position: relative;
  padding-right: 30px;
  background-color: #ecfbff;
  border: 2px solid #a6e0ee;
  color: #2d7586;
  display: block;
  margin: 65px auto 0 auto;
  height: 60px;
  width: 200px;
  cursor: pointer; }
  .btn_find:focus {
    outline: none;
    border: none; }
  .btn_find:hover {
    background-color: #ddf7ff; }
    .btn_find:hover svg {
      transform: rotate(10deg);
      transition: transform 0.15s; }
  .btn_find svg {
    position: absolute;
    top: 13px;
    right: 25px;
    height: 30px;
    width: auto;
    transition: transform 0.15s; }
    .btn_find svg path {
      fill: #2d7586; }
  .btn_find p {
    margin: 0; }
  .btn_find.clicked {
    background-color: #cff5b3;
    border: 2px solid #cff5b3;
    color: #6aaa3b;
    padding-right: 6px;
    animation: bounce-in 0.3s;
    cursor: default; }
    .btn_find.clicked svg {
      animation: flyaway 1.3s linear;
      top: -80px;
      right: -1000px; }
      .btn_find.clicked svg path {
        fill: #6aaa3b; }

@keyframes flyaway {
  0% {
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px; }
  5% {
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px; }
  20% {
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px; }
  40% {
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1; }
  100% {
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0; } }

@keyframes bounce-in {
  0% {
    padding-right: 30px; }
  40% {
    padding-right: 6px; }
  50% {
    padding-left: 30px; }
  100% {
    padding-left: 6px; } }

/* CSS CITIES */
#container_cities {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  max-width: 1470px;
  margin: 70px auto 0 auto; }
  #container_cities .City {
    width: 305px;
    height: 388px;
    border: 1px solid #e0dede;
    margin: 15px;
    overflow: hidden; }
    #container_cities .City img {
      width: 100%;
      height: 195px;
      object-fit: cover; }
    #container_cities .City:hover {
      cursor: pointer;
      box-shadow: 0 0 12px #ccc; }
    #container_cities .City .info {
      padding: 15px; }

/* FONT */
@font-face {
  font-family: "Calli";
  src: url("../font/Moonbright Demo.ttf") format("truetype"); }
