/* CSS GENERAL */
.vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%; }

/* CSS APP */
.App {
  width: 100%;
  height: 100vh; }
  .App .vertical-center {
    margin: 0 auto;
    width: fit-content; }
  .App .containerCarousel .container_item {
    display: flex;
    justify-content: center; }
  .App .containerCarousel .carousel_wrapper {
    overflow: hidden;
    width: 100px; }
    .App .containerCarousel .carousel_wrapper .ul_carousel {
      padding: 0;
      width: 400px;
      display: flex;
      list-style: none;
      transition: transform 1s; }
      .App .containerCarousel .carousel_wrapper .ul_carousel li {
        opacity: 0; }
      .App .containerCarousel .carousel_wrapper .ul_carousel .active {
        opacity: 1 !important; }
      .App .containerCarousel .carousel_wrapper .ul_carousel .li_price {
        width: 100px;
        height: 50px;
        background-color: blue; }
      .App .containerCarousel .carousel_wrapper .ul_carousel .li_temp {
        width: 100px;
        height: 50px;
        background-color: red; }
      .App .containerCarousel .carousel_wrapper .ul_carousel .li_place {
        width: 100px;
        height: 50px;
        background-color: yellow; }
      .App .containerCarousel .carousel_wrapper .ul_carousel .li_type {
        width: 100px;
        height: 50px;
        background-color: green; }
